# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 4 spaces as indentation
[*]
indent_style = space
indent_size = 4
insert_final_newline = true

# C# files
[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8-bom